<div class="jumbotron d-flex justify-content-center header-jumbo-home">
  <div>  
    <h1 class="display-3 animated lightSpeedIn">Wealth that is simply smart</h1>
    <div class="d-flex justify-content-center" id="msg">    
    <p class="lead jumbo-p" id="msg hidden">We will make your money work overtime, so that you don't have to.</span>
    </div>
  </div>
</div>
<section class="">
<div class="row">
<div class="col-6">test</div>
<div class="col-6">test</div>
</div>
<div class="row">
<div class="col-8">test</div>
<div class="col-4">test</div>
</div>
<br>
<div class="row">
  <div class="col-4">
    <p>
      <label for="amount">Amount invested:</label>
      <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
    </p>
    <div id="slider-range-min"></div>
 </div>
  <div class="col-4">
    <p>
      <label for="amount1">Monthly contributions:</label>
      <input type="text" id="amount1" readonly style="border:0; color:#f6931f; font-weight:bold;">
    </p>
    <div id="slider-range-min1"></div>
 </div>
</div>
</section>
<footer>

</footer>
